In [12]:
!pip install jinja2

Requirement already satisfied: jinja2 in /home/codespace/.local/lib/python3.12/site-packages (3.1.4)
Requirement already satisfied: MarkupSafe>=2.0 in /home/codespace/.local/lib/python3.12/site-packages (from jinja2) (3.0.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python3 -m pip install --upgrade pip

In [10]:
import numpy as np
import pandas as pd
import matplotlib as mpl

df = pd.DataFrame({
    "strings":["Adam","mike"],
    "ints":[1,3],
    "float":[1.123,1000.23]
})
df

  strings  ints     float
0    Adam     1     1.123
1    mike     3  1000.230

In [13]:
df.style.format(
    precision=2,
    thousands=',',
    decimal='.'
    ).format_index(axis=1,formatter=str.upper).relabel_index()

TypeError: StylerRenderer.relabel_index() missing 1 required positional argument: 'labels'

In [14]:
df.style\
.format(
    precision=2,
    thousands=',',
    decimal='.'
    ).format_index(axis=1,formatter=str.upper)\
        .relabel_index(["row1","row2"],axis=0)

In [ ]:
import pandas as pd
import numpy as np
data = {
     'A': [1234.5678, 9876.5432, 10000.00],
    'B': [0.1234, 0.5678, 0.9999],
    'C': ['蘋果', '香蕉', '櫻桃'],
    'D': pd.to_datetime(['2023-10-26', '2023-10-27', '2023-10-28']),
    'E': [np.nan, 1, 2]
}
df = pd.DataFrame(data)
df

            A       B   C          D    E
0   1234.5678  0.1234  蘋果 2023-10-26  NaN
1   9876.5432  0.5678  香蕉 2023-10-27  1.0
2  10000.0000  0.9999  櫻桃 2023-10-28  2.0

In [ ]:
styled_df1 = df.style.format("{:.2f}",subset=['A','B'])
styled_df1

In [15]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

In [16]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='PuBuPu')\

SyntaxError: incomplete input (2953469293.py, line 6)

In [17]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

In [ ]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])

In [18]:
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])
.format("{:.2f}",subset=['Tapei'])

SyntaxError: invalid syntax (825380007.py, line 4)

In [19]:
def rain_condition(v):
    if v < 1.75:
        return"乾燥"
    elif v <2.75:
        return"有雨"
    else:
        return"大雨"
weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])
.format(rain_condition)

SyntaxError: invalid syntax (3569527740.py, line 11)

In [ ]:
weather_df = pd.DataFrame(np.random.rand(10,2)*5,
                        index=pd.date_range(start="2021-01-01", periods=10),
                        columns=["Tokyo", "Taipei"])

NameError: name 'pd' is not defined

In [20]:
def rain_condition(v):
    if v < 1.75:
        return "乾燥"
    elif v < 2.75:
        return "有雨"
    else:
        return "大雨"

def change_index(t):
    return t.strftime('%Y年%m月%d日')

weather_df.style\
.set_caption("Weather Conditions")\
.background_gradient(axis=None, vmin=1, vmax=5, cmap='BuPu',subset=['Tokyo'])\
.format(rain_condition)\
.format_index(change_index)

In [21]:
import numpy as np
np.random.seed(0)
df2 = pd.DataFrame(np.random.randn(10,4), columns=['A', 'B', 'C', 'D'])
display(df2.style)

In [ ]:
def style_negative(v):
    return 'color:red'
df2.style.applymap(style_negative)

NameError: name 'df2' is not defined

In [22]:
def style_negative(v):
    return 'color:#003C9D;background-color:white'
df2.style.applymap(style_negative)

/tmp/ipykernel_36081/1000189153.py:3: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  df2.style.applymap(style_negative)

In [ ]:
def style_negative(v):
    if V < 0:
        return'color:#003C9D;background-color:white'
df2.style.applymap(style_negative)